@import 'tailwindcss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fffdfb;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
